absl==0.0
absl_py==0.8.1
bokeh==2.3.0
imageio==2.9.0
imgaug==0.4.0
keras2onnx==1.7.0
Keras_Applications==1.0.8
Keras_Preprocessing==1.1.0
matplotlib==3.3.4
MNN==2.0.0
numpy==1.17.3
onnx==1.8.1
onnxruntime==1.7.0
opencv_python==4.5.1.48
pandas==1.5.2
Pillow==9.3.0
pycocotools==2.0.6
scikit_image==0.17.2
scikit_learn==1.2.0
scipy==1.5.4
skimage==0.0
tensorflow==2.11.0
tensorflow_addons==0.19.0
tensorflow_gpu==1.15.0
tensorflow_model_optimization==0.5.0
tfcoreml==2.0
tidecv==1.0.1
tqdm==4.59.0
